/* CSS code for Portfolio */

/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ededed;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f04800;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover {
    color: lightskyblue;
}

/* WELCOME SECTION */
/* #welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eee;
}

#welcome-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
} */

/* HOME SECTION */

#welcome-section {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(https://wallpaperaccess.com/full/832152.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #221d24;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    color: #f04800;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #221d24;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #221d24;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #221d24;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #f04800;
    border: 2px solid #f04800;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #f04800;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #f04800;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #f04800;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/* PROJECT SECTION */
#projects {
    padding: 50px;
    background-color: #fff;
}

.project-tile {
    margin-bottom: 20px;
}

.project-tile a {
    display: block;
    padding: 20px;
    background-color: #eee;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #welcome-section h1 {
        font-size: 3rem;
    }

    #projects {
        padding: 20px;
    }
}



/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}